/* 
.rootContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    z-index: 10000;
}
.outlet{
    border-radius: 10px;
    width: 90%;
    margin-top: 20px;
    z-index: 10000;
    border: 2px solid whitesmoke;
    height: 90vh;
} */
