@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.registerContainer {
  /* Or a more appropriate class name */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}

.registerContainer body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height:100vh;
  background: #000;
  /* overflow: hidden; */
}

.registerSection {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* height: calc( 100vh - 65px ); */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #000;
}
.registerSection::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, #85262a, #000);
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.registerSection span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}
.registerSection span:hover {
  background: #85262a;
  transition: 0s;
}

.registerSection .signin {
  position: absolute;
  width: 400px;
  background: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
  border-radius: 8px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

.registerSection .signin .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.registerSection .signin .content .companyName {
  /* width: 100%;  */
  /* height: 2em;  */
  max-width: 100%;

  font-size: 65px;
  color: #85262a;
  text-transform: uppercase;
  text-align: center;
}


.registerSection .signin .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.registerSection .signin .content .form .inputBox {
  position: relative;
  width: 100%;
}
.registerSection .signin .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

input:-webkit-autofill {
  background-color: #333 !important;
  color: #ffffff !important;
  box-shadow: 0 0 0 100px #333 inset !important;
  -webkit-text-fill-color: #fff !important;
  border: 1px solid #696565 !important;    

}

input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  background-color: #ffffff4f !important;
  color: #ffffff !important;
  box-shadow: 0 0 0 100px #333 inset !important;
  -webkit-text-fill-color: #fff !important;
  border: 1px solid #696565 !important;   

}

.registerSection .signin .content .form .inputBox label {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ label,
.signin .content .form .inputBox input:valid ~ label {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.signin .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a {
  color: #ffffffd0;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2) {
  color: #85262a;
  font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"] {
  padding: 10px;
  background: #85262a;
  color: #000000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active {
  opacity: 0.6;
}

@media (max-width: 1500px) {
  .registerSection .signin{
    padding: 30px 40px;

  }
  .registerSection .signin .content {
    gap:20px;
  }
  .registerSection .signin {
    width: 350px;
  }

  .registerSection .signin .content .form {
    gap: 18px;
  }
}
@media (max-width: 1100px) {
  .registerSection span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}

@media (max-width: 600px) {
  .registerSection .signin {
    width: 280px;
  }

}

