@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
  /* --toastify-text-color-dark: #ffffff;
  --toastify-toast-background: #832c2c;

  --toastify-z-index: 999999999999999;
  --toastify-color-: rgba(255, 24, 24, 0.7); */
}

.outletPage {
  border-radius: 50px;
}
.formErrorAlert {
  font-size: 0.9rem;
  color: rgb(212, 34, 34);
  margin: 0;
  padding: 0;
}

.successToast {
  background-color: #000000;
  color: #fff;

  --toastify-color-progress-success: #ffffff;
  --toastify-icon-color-success: #ffffff;

  margin-bottom: 100px;
}
.errorToast {
  color: #fff;
  background-color: #000000;
  --toastify-icon-color-error: #fc0101;
  --toastify-color-progress-error: #ff0000;
  margin-bottom: 100px;
}
